@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap");
.wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 80vw;
    margin-left: 10vw;
    font-family: 'Cairo', sans-serif;
}
.title {
    align-self: center;
}
.action-row {
    display: flex;
    font-weight: 600;
}
.search {
    display: flex;
    margin-right: auto;
}
.search-input {
    padding-right: 10px;
    padding-top:4px;
}
#search-input {
    width: 100%;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}
.upload-file {
    margin-left: auto;
    display: flex;
}
.error {
    align-self: center;
    color: red;
    padding-left: 10px;
}
.grid{
    display:grid;
    grid-template-columns: 2fr 3fr 3fr 1fr 1fr;
    width: 100%;
    align-self: center
}
.header-row {
    display: contents;
    flex-grow: 1;
    font-weight: 600;
    text-transform: uppercase;
}
.header-cell {
   display: flex;
   align-items: center;
   white-space: nowrap;
   padding: 10px;
   border-bottom: 2px solid black;
}

.data-row {
    display: contents;
}
.highlight {
    font-weight: 600;
}
.data-cell {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid gray;

}
.data-cell>.active {
    color: #0072FF;
    font-weight: 600;
}

.data-cell>.active:hover{
    cursor: pointer;
    color: #040636;
    font-weight: 600;
}
.custom-file-upload {
    padding: 6px 26px;
    cursor: pointer;
    background-color: #00BB7C;
    color: white;
    border: none;
    border-radius: 4px;
    text-transform: uppercase
}
#file-upload {
    display: none;
}

.transcript {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 10px;
}
.transcript-name {
    font-weight: 600;
    text-transform: uppercase;
}
.transcript-detail {
    border: 1px solid gray;
    min-height: calc(1.5em*10);
    height: auto;
    padding: 10px;
}
.loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #007bff;
    border-radius: 50%;
    width:24px;
    height:24px;
    animation:spin 1s linear infinite;
    margin-right:10px;
}
@keyframes spin{
    to{transform:rotate(360deg)};
}
.audio-player {
    align-self: center;
}
.pagination-controls{
    padding-top: 10px;
    align-self: center;
}
.pagination-controls > button {
    margin-left: 10px;
    margin-right: 10px;
}
/* Responsive styles */
@media (min-width: 600px) {
    .container {
        flex-direction: row;
        justify-content: space-between;
    }

    .file-upload {
        margin-bottom: 0;
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
        width: 100%;
        align-self: center
    }
    .audio-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }
}